<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PHProjectTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B1E7EC4E1D37E8D400AA102B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E7EC621D37E8D400AA102B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1E7EC6D1D37E8D400AA102B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
